  body {
    font-family: monospace;
    /*font-family: Menlo,Monaco,Consolas,"CourierNew",monospace;*/
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*font: 20px Montserrat, sans-serif;*/
/*    line-height: 1.8;*/
    color: #f5f6f7;
  }


/*////////NAVBAR///////*/

  .navbar-default .navbar-toggle {
    border-color: #775E9C;
  }

  .navbar {
    color: #c7b27e;
    border: 1px solid #fce29f;
    background-color: #16061D;
    /*background-image: url("../images/pineapple.jpg");*/
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
    margin-bottom: 0px;
    font-size: 12px;
    letter-spacing: 5px;
  }

  nav.navbar.navbar-default {
    color: #A00B0B;
    /*margin-bottom: 0%;*/
    border-radius: 0px;
  }

  .navbar-nav  li a:hover {
    font-size: 2em;
    color: #B71212 !important;
  }

  .navbar-default .navbar-nav>li>a {
    color: #775E9C;
    font-size: 1.6em;
    font-family: monospace;
    /*font-family: 'Asap', sans-serif;*/
    font-weight: 700;
  }

  #my-name {
    color: #775E9C;
    font-family: 'Satisfy', cursive;
    /*font-family: 'Asap', sans-serif;*/
    font-size: 2.6em;
    font-weight: 700;
  }

  #my-name:hover {
    color: #B71212;
    font-size: 2em;
  }
 /*////////END OF NAVBAR///////*/

  .subtitles {
    color: #B71212;
    font-size: 2em;
    font-weight: bold;
    font-family: monospace;
    padding-top: 4%;
    margin-bottom: 0px;
    text-decoration: underline;
  /* -webkit-text-fill-color: #D3D679;
   -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: #D3D679;*/
  }

  h3 {
    font-family: monospace;
  }

  .lena-website {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1em;
    color: #8B1313;
  }

/*////////ABOUT ME///////*/

  #quote {
    color: #1F132F;
    font-weight: bold;
    font-size: 1.7em;
    font-style: italic;
    font-family:'Satisfy', cursive;
  }

 /* #passion {
    color: pink;
  }*/

  #passion-coding {
    color: #B71212;
    font-weight: bold;
    /*font-size: 1.7em;*/
  }

  #job-title {
    color: #775E9C;
    font-weight: bold;
    /*margin-bottom: 1%;*/
  }

  #profile-pic {
    margin: 0 2%;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    padding-right: 1%;
    float: left;
    clear: right;
    overflow: hidden;
    opacity: 1;
  }

  .bullet-point {
    list-style: circle;
  }

  .about-me-p {
    /*background: #fff9c6;*/
    color: #c7b27e;
    border: 1px solid #fce29f;
    background-color: #16061D;
    opacity: 1;
    padding: 3% 2%;
    width: 90%;
    border-radius: 5px;
    opacity: .8;
    color: #775E9C;
    vertical-align: middle;
    font-size: 1.7em;
    font-weight: bold;
    /*font-family: 'Asap', sans-serif;*/
    margin: 3% auto;
  }

  .code-volleyball {
    color: pink;
  }
/*
  .fa-heart:before {
   color: red;
  }*/

  .redheart {
    font-size: .7em;
    padding-right: 1%;
    color: red;
  }

  #left-right-div {
    vertical-align: middle;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    /*border: 1px solid white;*/
    border-radius: 5px;
  }

  #left {
    float: left;
    clear: right;
    overflow: hidden;
  }

  /*////////END OF ABOUT ME///////*/

  .margin {
    margin-bottom: 45px;
  }

  .bg-1 { 
    background-color: #403451; 
  }

  .bg-2 { 
    background-size: cover;
    background-image: url("../images/blackwhitesf.jpg");
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }

  .bg-3 { 
    background-image: url("http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/10/Standing-Starfish-HD-Wallpaper-having-Bright-Sun-in-Background.jpg");
    background-size: cover;
    background-color: #fff;
        /*    background-color: #fff;*/ /* White */
    color: #555555;
  }

  .bg-4 { 
    background-color: #16061D;
    /*background-color: #2f2f2f; /* Black Gray */*/
    color: gray;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }


/*////////PORFOLIO///////*/

  .purp-github {
    width: 7%;
    margin-bottom: 1%;
  }

  .purp-github:hover {
    font-size: 1.4em;
  }

  #about-me {
    width: 60%;
    margin: 0 auto;
    font-family: 'Abel', sans-serif;
  }
  
  #memorizingmnms {
    font-size: 1.5em;
  }

  #memorizingtitle {
    /*font-size: 1.5em;*/
  }

  .project-link {
    font-size: 1.6em;
    color: #A00B0B;
    text-decoration: underline;
  }

  .project-link:hover {
    color: #A00B0B;
    font-size: 1.8em;
  }

  .project-title {
    font-size: 2em;
    color: #1F132F;
    font-weight: bold;
    /*color: #5E2B6B;*/
    font-family: monospace;
  }

  .project-img {
    width:80%;
    margin-bottom: 3%;
  }

  .project-desc {
    background: #fff9c6;
    color: #c7b27e;
    border: 1px solid #fce29f;
    width: 80%;
    max-height: 350px;
    /*width: 320px;*/
    /*max-height: 280px;*/
    overflow: scroll;
    margin: 0 auto;
    padding: 0 3% 3% 3%;
    border-radius: 5px;
    background-color: #1F132F;
    margin-bottom: 6%;
  }
  
  .navbar-purple {
    font-family: 'Ropa Sans', sans-serif;
    color: #1F132F;
  }

/*  .proj-div {
    background-color: #fff;
    opacity: .8;
    border-radius: 5px;
  }*/

  p {
    color: #775E9C;
    font-size: 20px;
    font-family: 'Ropa Sans', sans-serif;
    /*font-family: 'Cuprum', sans-serif;*/
    /*font-family: Menlo,Monaco,Consolas,"CourierNew",monospace;*/
  }

  /*////////SKILLS///////*/
  
  .skills {
    margin: 3%;
    border-radius: 5px;
    width: 7%;
  }

  #angularjs {
    width: 10%;
  }

  #html5 {
    width: 10%;
  }

  #jquery {
    width: 10%;
  }

  #github {
    width: 10%;
    border-radius: 5px;
    margin: 3%;
  }

  #rails {
    width: 7%;
    border-radius: 7px;
  }

  /*////////FOOTER///////*/
/*
  #gmail {
    width: 3.5%;
    margin: 1%;
  }

  #linkedin {
    width: 4%;
    margin: 1%;
  }
*/
/*  #githubcontact {
    width: 4%;
    margin: 1%;
  }*/
 
 .social-media {
   width: 4%;
   margin: 1%;
  }

  .social-media:hover {
    width: 5.5%;
  }

  .glyphicon {
    margin-right: 1%;
  }


@media (max-width: 1035px) {

  .project-desc {
    font-size: 1.2em;
   /* width: 244px;
    max-height: 180px;*/
  }
}

@media (max-width: 898px) {

  #memorizingtitle {
    font-size: 1.5em;
  }

  #memorizingmnms {
    font-size: 1.3em;
  }

  #memorizing-img {
    margin-top: 4%;
  }

  
}

@media (max-width: 765px) {

  .project-desc {
    font-size: 1.2em;
   /* width: 500px;
    max-height: 300px;*/
  }

  .purp-github {
    width: 4% ;
  }

}

@media (max-width: 606px) {

  #profile-pic {
    float: none;
    margin: 4% auto;
    width: 120px;
    height: 120px;
  }

  .project-desc {
    font-size: 1.2em;
  /*  width: 420px;
    max-height: 300px;*/
  }

  #job-title {
    font-size: 1.5em;
  }

  .about-me-p {
    width: 100%;
    font-size: 1.4em;
    margin-top: 3%;
    margin: 0 auto;
  }

  #gmail {
    width: 8%;
  }

  #linkedin {
    width: 8%;
  }

  #githubcontact {
    width: 8%;
  }

  .social-media {
     width: 8%;
  }

} 

@media (max-width: 500px) {

  .purp-github {
    width: 6%;
  }

  #profile-pic {
    float: none;
    margin: 4% auto;
    width: 120px;
    height: 120px;
  }

  .project-desc {
    font-size: 1.2em;
    /*width: 320px;
    max-height: 250px;*/
  }










